<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/mission-02/css/style.css">
  <title>버튼 컴포넌트</title>
</head>
<body>
  <div class="sign-container">
    <div class="button-container sign-in-container">
      <button type="submit" class="button sign-in-btn">로그인</button>
      <span class="icon-arrow-move">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 0L6.58667 1.41333L12.1733 7H0V9H12.1733L6.58667 14.5867L8 16L16 8L8 0Z" />
        </svg>
      </span>
    </div>
    <div class="button-container sign-up-container">
      <a href="#" class="button sign-up-btn">회원가입</a>
      <span class="icon-arrow-move">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 0L6.58667 1.41333L12.1733 7H0V9H12.1733L6.58667 14.5867L8 16L16 8L8 0Z" />
        </svg>
      </span>
    </div>
  </div>
</body>
</html>