.header {
  padding: 0 7%;
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  min-width: 80px;
  width: 80px;
}

.header-btn {
  display: flex;
  gap: 16px;
}

@media (min-width: 768px) {
  .header {
    padding: 0 12%;
    height: 140px;
  }

  .logo img {
    min-width: 140px;
    width: 140px;
  }

  .header-btn {
    gap: 24px;
  }
}