<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>헤더 컴포넌트</title>
</head>
<body>
  <header class="header">
    <h1 class="logo">
      <a href="#"><img src="/images/svg/logo.svg" alt="Netflix"></a>
    </h1>
    <div class="header-btn">
      <div class="lang" role="combobox" tabindex="0" aria-expanded="false">
        <span class="selected-option">한국어</span>
        <ul class="option-container" role="listbox">
          <li class="option ko" tabindex="0">한국어</li>
          <li class="option en" tabindex="0">English</li>
        </ul>
      </div>
      <a href="#" class="login-btn">로그인</a>
    </div>
  </header>


</body>
</html>