@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

:root {
  --color-white: #FEFEFE;
  --color-accent-amber: #D2C9B6;
  --color-primary-blue: #24388D;
}




/* reset style */
body, body *, body *::before, body *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/* common style */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  white-space: nowrap;
  border-width: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}


/* ----------- 헤더 */
/* .header {
  height: 50px;
  background: #fff;
} */


/* ----------- 로그인 */
.main {
  width: 100%;
  min-height: 100vh;
  background: url("../images/bg-signin.png") no-repeat 30% center / cover;
  color: var(--color-white);
}

.login-container {
  /* margin: 0 8.5%; */
  margin: 0 auto;
  padding-top: 110px;
  width: 311px;
  letter-spacing: -0.32px;
}

.login-title {
  font-size: 3.6rem;
  font-weight: 200;
  text-align: center;
}

.welcome-en {
  margin: 15px 0 2px;
  font-size: 1.8rem;
  text-align: center;
}

.welcome-ko {
  font-size: 1.2rem;
  text-align: center;
}

/* 로그인 폼 */
.login-container fieldset {
  margin: 110px 0 0;
  padding: 0;
  border: 0;
}

.user-email, .user-psd {
  position: relative;
}

.user-psd {
  margin-top: 55px;
}

.label-email, .label-psd {
  position: absolute;
  top: 20px;
  left: 8px;
  display: inline-block;
  width: 4em;
  font-size: 1.8rem;
}

input[type=email],
input[type=password] {
  padding: 20px 8px 3px;
  width: 100%;
  height: 48px;
  border: 0;
  box-shadow: 0 0.5px var(--color-white);
  background: transparent;
  color: var(--color-white);
  font-size: 1.6rem;
}

input[type=email]::placeholder,
input[type=password]::placeholder {
  color: transparent;
}

.label-email.is-focus ~ input[type=email]::placeholder,
.label-psd.is-focus ~ input[type=password]::placeholder {
  color: var(--color-white);
  opacity: 0.7;
}

/* 로그인 폼 유효성 검사 */
.login-container .is-vaild {
  box-shadow: 0 2px var(--color-white);
}

.login-container .is-invaild {
  box-shadow: 0 2px var(--color-white);
  
  & + .warning {
    display: block;
  }
}

.login-container .is-focus {
  top: 0px;
  left: 0;
  font-size: 1.3rem;
  transition: all 0.3s;
}

.validation {
  display: inline-block;
  position: absolute;
  bottom: 5px;
  right: 8px;
  width: 16px;
  height: 16px;
  border: 0;
}

.is-valid ~ .validation.eye-icon,
.is-invalid ~ .validation.eye-icon {
  right: 33px;
}

.is-valid ~ .validation.valid-icon {
  background: url("../images/icon-valid-check.svg") 0 0 / cover;
}

.validation.eye-icon {
  background: url("../images/icon-pwd-eye.svg") 0 0 / cover;
}

.is-visible ~ .validation.eye-icon {
  background: url("../images/icon-pwd-eye.svg") 16px 0 / cover;
}

.is-invalid ~ .validation.valid-icon {
  background: url("../images/icon-valid-check.svg") 16px 0 / cover;
}

.warn-text {
  display: none;
  position: absolute;
  margin-left: 8px;
  top: 50px;
  font-size: 1.2rem;
}

.is-invalid ~ .warn-text {
  display: block;
}

input[type=checkbox]:focus ~ .save-email::before {
  outline: 1px solid currentColor;
  border-radius: 3px;
}

.save-email {
  display: inline-block;
  margin-top: 15px;
  font-size: 1.2rem;
}

.save-email:hover {
  cursor: pointer;
}

.save-email::before {
  display: inline-block;
  position: relative;
  content: "";
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  margin-right: 7px;
  background: url("../images/icon-btn-check.svg") no-repeat -20.5px 0;
  background-size: cover;
}

input:checked + .save-email::before {
  background-position: 1.8px 0;
}

/* 로그인, 회원가입 */
.sign-container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-top: 128px;
  font-size: 2rem;
  font-weight: 700;
}

.sign-in-container {
  position: relative;
  color: var(--color-accent-amber);
}

.sign-in-container.is-active {
  color: var(--color-primary-blue);

  & .sign-in {
    opacity: 1;
  }
}

.sign-in {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border-style: none;
  background: var(--color-white);
  color: currentColor;
  opacity: 0.8;
}

.sign-in:hover {
  cursor: pointer;
}

.sign-up-container {
  position: relative;
  color: var(--color-white);
}

.sign-up {
  display: inline-block;
  width: 100%;
  height: 48px;
  border: 1px solid var(--color-white);
  border-radius: 8px;
  text-align: center;
  line-height: 48px;
}

.icon-arrow-move {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  fill: currentColor;
}

/* 미디어 쿼리 */
@media (min-width: 600px) {
  .login-container {
    padding-top: 145px;
    width: 540px;
    letter-spacing: -0.32px;
  }

  .sign-container {
    margin-top: 60px;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px; 
  }

  .sign-in-container, .sign-up-container {
    flex-grow: 1;
  }
}