@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

/* Reset style */
body {
  block-size: border-box;
}

h1, h2, h3, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/* 숨김 콘텐츠 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  white-space: nowrap;
  border-width: 0;
}

/* 레이아웃 */
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 502px;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}

.main-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.main-item li[class^=item]:hover, .main-item li[class^=item]:focus-within {
  border: 1px solid #0074E9;
}

.main-item .item-logo {
  padding-top: 15px;
}

.main-item .item-title {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  color: #4E4E4E;
}

.item-big, .item-small {
  position: relative;
  height: 310px;
  border: 1px solid #c4c4c4;
}

.item-big {
  width: 502px;
}

.item-big .item-start, .item-big .item-end {
  display: inline-block;
  position: relative;
}

.item-big .item-start {
  bottom: 90px;
  left: -10px;
}

.item-big .item-end {
  top: 20px;
  left: 35px;
}

.item-big .item-title {
  margin-top: 13px;
  font-size: 24px;
}

.item-small {
  margin-top: 14px;
  width: 243px;
}

.item-small .item-title {
  margin: 8px 0 10px;
  font-size: 18px;
}

.buy-btn {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 18px;
  bottom: 18px;
  border: none;
  background: url("../images/button.svg");
  cursor: pointer;
}

.buy-btn:hover, .buy-btn:focus {
  width: 112px;
  background: url("../images/button-active.svg");
}