@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');

:root {
  --black: #010101;
  --red--600: #B70710;
  --red--500: #E50914;
  --green--500: #2EDE75;
  --gray--800: #2F2F2F;
  --gray--500: #757575;
  --gray--400: #919191;
  --gray--300: #ACACAC;
  --gray--200: #C8C8C8;
  --gray--100: #E3E3E3;
}


body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}