.headline-title {
  font-size: 2.25rem;
  font-weight: 200;
  line-height: 1.2;
  text-align: center;
}

.welcome-en {
  margin: 0.83em 0 0.1em;
  font-size: 1.125rem;
  text-align: center;
  text-transform: capitalize;
}

.welcome-ko {
  font-size: 0.7rem;
  text-align: center;
}