<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/mission-02/css/style.css">
  <title>헤드라인 컴포넌트</title>
</head>
<body>
  <div class="headline-container">
    <h2 class="headline-title login-title">로그인</h2>
    <p class="welcome-en" lang="en">welcome, ediya coffee</p>
    <p class="welcome-ko">이디야커피에 오신 것을 환영합니다.</p>
  </div>
  <div class="headline-container">
    <h2 class="headline-title login-title">회원가입</h2>
    <p class="welcome-en" lang="en">join us, ediya coffee</p>
    <p class="welcome-ko">이디야멤버스 가입을 진행합니다.</p>
  </div>
</body>
</html>